@media only screen and (min-width: 1150px) {
    .heading{
        display: flex;
        position: sticky;
        top: 0;
        background-color:black;
        color: white;
        padding: 2%; 
        z-index: 3;
        border-bottom: 2px solid #5584c2;
    }
    .menu{
        display: flex;
        position: sticky;
        top:0;  
    }
    .webname{
        width: 50px;
        display: flex;
        position: sticky;
        justify-content: space-around;
        font-size: large;
        color: #5584c2;
    }
    .home{
        margin-left:30px;
        flex:1;       
    }
    .tabs{
        margin-left:20px;
        flex:2;  
    }
    .loginRegister{
        margin-left:20px;
        font-weight: bold;
        flex:2
    }
}

@media only screen and (max-width: 1149px) and (min-width:950px) {
    .heading{
        display: flex;
        position: sticky;
        top: 0;
        background-color:black;
        color: white;
        padding: 2%; 
        z-index: 3;
        border-bottom: 2px solid #5584c2;  
    }
    .menu{
        display: flex;
        position: sticky;
        top:0;  
    }
    .webname{
        width: 10px;
        display: flex;
        /*add this*/
        margin-left: 10px;
        position: sticky;
        justify-content: space-around;
        
        color: #5584c2;
    }
    .home{
        /*change margin*/
        margin-left:35px;
        font-size: medium;
        flex:1;       
    }
    .tabs{
        margin-left:10px;
        font-size: medium;
        flex:1;  
    }
}

@media screen and (max-width: 950px) {
    .heading{
        position: sticky;
        top: 0;
        background-color:black;
        color: white;
        padding: 2%; 
        border-bottom: 2px solid #5584c2;
        z-index: 3;
    }
    .menu{
        position: sticky;
        top:0;  
    }
    .webname{
        width: 100px;
        position: sticky;
        font-size: large;
        color: #5584c2;
    }
    .home{
        margin-left:20px;
          
    }
    .tabs{
        margin-left:20px; 
    }
}


@media only screen and (min-width: 800px) {
    .overview{
        color:white;
        margin-left: 1in;
        margin-right: 1in;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 0;
    
    }
    h3{
        color:#5584c2;
    }
    #overview_header{
        margin-left: 1in;
        margin-right: 1in;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 3%;
        padding-bottom: 0;  
    }
    #instructor_header{
        margin-left: 1in;
        margin-right: 1in;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 3%;
        padding-bottom: 0;
    }
    .instructor{
        color:white;
        margin-left: 1in;
        margin-right: 1in;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 0;
    }
    .course-work{
        color:white;
        margin-left: 1in;
        margin-right: 1in;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 0;
    }
    #course_team{
        margin-left: 1in;
        margin-right: 1in;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 3%;
        padding-bottom: 0;
        margin-bottom: 50px;
    }
    .course-table{
        display: table;
        width: 600px;
        margin-left: 160px;
        margin-right: 160px;
        
    }
    #ta-name{
        margin-right:60px;
        text-align: left;
        color: white;
    }
    #ta-email{
        margin-right:200px; 
        text-align: left;
        color: white;
    }
}

@media only screen and (max-width: 800px) and (min-width:470px) {
    .overview{
        color:white;
        margin-left: 0.5in;
        margin-right: 0.5in;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 0;
    }
    h3{
        color:#5584c2;
    }
    #overview_header{
        margin-left: 0.5in;
        margin-right: 0.5in;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 3%;
        padding-bottom: 0;  
    }
    #instructor_header{
        margin-left: 0.5in;
        margin-right: 0.5in;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 3%;
        padding-bottom: 0;
    }
    .instructor{
        color:white;
        margin-left: 0.5in;
        margin-right: 0.5in;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 0;
    }
    .course-work{
        color:white;
        margin-left: 0.5in;
        margin-right: 0.5in;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 0;
        margin-bottom: 50px;
    }
    #course_team{
        margin-left: 0.5in;
        margin-right: 0.5in;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 3%;
        padding-bottom: 0;
    }
    .course-table{
        display: table;
        width: 400px;
        margin-left: 50px;
        font-size: smaller;
    }
    #ta-name{
        margin-right:30px;
        text-align: left;
        color: white;
    }
    #ta-email{
        margin-right:160px; 
        text-align: left;
        color: white;
    }
}

@media only screen and (max-width: 470px) {
    .overview{
        color:white;
        margin-left: 0.2in;
        margin-right: 0.2in;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 0;
    }
    h3{
        color:#5584c2;
    }
    #overview_header{
        margin-left: 0.2in;
        margin-right: 0.2in;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 3%;
        padding-bottom: 0;  
    }
    #instructor_header{
        margin-left: 0.2in;
        margin-right: 0.2in;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 3%;
        padding-bottom: 0;
    }
    .instructor{
        color:white;
        margin-left: 0.2in;
        margin-right: 0.2in;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 0;
    }
    .course-work{
        color:white;
        margin-left: 0.2in;
        margin-right: 0.2in;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 50px;
    }
    #course_team{
        margin-left: 0.5in;
        margin-right: 0.5in;
        padding-left: 3%;
        padding-right: 3%;
    }
    .course-table{
        display: table;
        width: 330px;
        margin-left: 20px;
        font-size: smaller;
    }
    #ta-name{
        margin-right:30px;
        text-align: left;
        color: white;
    }
    #ta-email{
        margin-right:160px; 
        text-align: left;
        color: white;
    }
}

.t-rows{
    display: table-row;
    border-top:1px solid white;
    border-right: 1px solid white;
}
.h-rows{
    display: table-row;
    background-color: #062c5e;
    color: white;
    margin:10px;
}
.t-rows:hover {
    background-color: #445c7a;
}
.t-cells{
    display: table-cell;
    border-top:1px solid white;
    color: white;
}

a{
    box-shadow: inset black;
    color: white;
    text-decoration: none;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}
a:hover {
    box-shadow: inset 300px 0 0 0 white ;
    color: #224f8b;
    font-weight: bold;
}

.inside-links{
    color:#5584c2;
    font-style: italic;
}
.inside-links:visited{
    color:rgb(39, 39, 128);
}

#web-title{
    color: white;
    text-align: center;
}

@media only screen and (min-width: 601px) {
    body{
        font-family:verdana;
        background-color:black;
    }
}

@media only screen and (max-width: 601px) {
    body{
        font-family:verdana;
        background-color:black;
        font-size: smaller;
    }
}


#img-tag{
    width: 100%;
    height: 100%;
    z-index: 0;
}

.footer{
    position: static;
    display: grid;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    border-top: 2px solid #5584c2;
    color:white;
    text-align: center; 
}

.footer-content{
    margin-top: 20px;
    font-size: x-small;
}

#instructor-image{
    margin-right: 40%;
    float: right;
}

#box{
    padding: 5% ;
    background-color: #062c5e;
    position: relative;
    text-align: center;
    color: white;
}

#img-tag{
    width: 100px;
    height: 100px;
    
}






