form {
    padding-top: 500px;
    max-width: 500px;
    margin: 200px auto;
    padding: 16px;
    border: 1px solid #eaeaea;
  }
  label {
    display:block;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 4px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }

  body {
    font-family:verdana;
    color: white;
    background-color:black;
  }
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    background-color: #ffffff;
    border: 1px solid #e5e5e4;
    border-radius: 25px;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 8px 18px;
    height: 48px;
    width: 92%;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 16px;
    transition: all .2s ease;
  }
  
  input::placeholder {
    color: #999;
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    background-color:#e5e5e4;
    border-color: black;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }
  
  select {
    padding: 10px;
    width: 100%;
    height: 60px;
    font-size: 16px;
    border-radius: 25px;
  }

  button{
    width: 100%;
    height: 48px;
    font-size: 16px;
    border-radius: 25px;
    
  }

  #error-msg{
    text-align: center;
    color: red;

  }

  
  .heading{
    display: flex;
    position: sticky;
    top: 0;
    background-color:black;
    color: white;
    padding: 2%; 
    z-index: 3;
    border-bottom: 2px solid #5584c2;
}
.menu-container {
    display: flex;
    position: sticky;
    top: 0;
    background-color:black;
    color: white;
    padding: 2%; 
    z-index: 3;
    border-bottom: 2px solid #5584c2;
  }
  
  .menu{
    width: 900px;
    display: flex;
    justify-content: space-around;
  }

  .links {
    display: flex;
    justify-content: flex-end;
  }
  
  .login {
    margin-left: 200px;
  }

  .reg{
      margin-left: 20px;
  }


.overview{
color:white;
margin-left: 1in;
margin-right: 1in;
padding-left: 5%;
padding-right: 5%;
padding-top: 0;

}
h3{
color:#5584c2;
}
#overview_header{
margin-left: 1in;
margin-right: 1in;
padding-left: 3%;
padding-right: 3%;
padding-top: 3%;
padding-bottom: 0;  
}


a{
box-shadow: inset black;
color: white;
text-decoration: none;
transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}

.buttons{
  color:black;
}
a:hover {
box-shadow: inset 300px 0 0 0 white ;
color: #224f8b;
font-weight: bold;
}

.inside-links{
color:#5584c2;
font-style: italic;
}
.inside-links:visited{
color:rgb(39, 39, 128);
}


body{
font-family:verdana;
background-color:black;
}





#img-tag{
width: 100%;
height: 100%;
z-index: 0;
}
.cont{
position: relative;
text-align: center;
color: white;
}

#web-title {
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
}

#web-info{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#login{
width: 200px;
height: 70px;
font-size: large;
background-color: black;
color: white;
border-radius: 25px;
}
#register{
width: 200px;
height: 70px;
font-size: large;
background-color: black;
color: white;
border-radius: 25px;
}
.footer{
position: static;
display: grid;
left: 0;
bottom: 0;
width: 100%;
height: 70px;
border-top: 2px solid #5584c2;
color:white;
text-align: center; 
}

.footer-content{
margin-top: 20px;
font-size: x-small;
}

#instructor-image{
margin-right: 40%;
float: right;
}


  