form {
    padding-top: 500px;
    max-width: 500px;
    margin: 200px auto;
    padding: 16px;
    border: 1px solid #eaeaea;
  }
  label {
    display:block;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 4px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }

  body {
    font-family: 'Lato', sans-serif;
    color: #333;
    background-color: #f8f8f9;
  }
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    background-color: #ffffff;
    border: 1px solid #e5e5e4;
    border-radius: 25px;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 8px 18px;
    height: 48px;
    width: 92%;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 16px;
    transition: all .2s ease;
  }
  
  input::placeholder {
    color: #999;
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    border-color: #00b7f5;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }
  
  select {
    padding: 10px;
    width: 100%;
    height: 60px;
    font-size: 16px;
    border-radius: 25px;
  }

  button{
    width: 100%;
    height: 48px;
    font-size: 16px;
    border-radius: 25px;
  }
  