{% extends "templateStudent.html" %}
{% block content %}
{% if session.name %}
    <h1>Announcements</h1>
        <div class="announcement_instructions">
            <p> Please keep checking this page regularly for announcements from the teaching team </p>
            <br>
        </div>

        <div class = "Announcements content">
            <section>
            <ul>
                <li> <a href = "../static/Purva_Gawde.png"><img src = "../static/Purva_Gawde.png" ></a>
                Posted by <div class = "name"><a class= "inside-links" href= "mailto:purvagawde@utoronto.ca" >Purva Gawde</a></div>
                </li>
            </ul>
            
            <ul> Welcome to CSCB20. Please note that tutorials will begin in week 2.</ul>
            
            <ul class = "date">January 2</ul>
            </section>

            <div class='hr'></div>

            <br>
            <section>
            <ul>
                <li> <a href = "../static/vidya.jpg"><img src = "../static/vidya.jpg" ></a>
                Posted by <div class="name"><a class= "inside-links" href = "mailto:vidya.ananda@mail.utoronto.ca">Vidya Ananda </a></div>
                </li>
            </ul>

            <ul> Hello Everyone. Welcome to CSCB20! My office Hours are 3 to 5 pm every tuesday starting Week2.</ul>
            
            <ul class = "date">January 1</ul>
            </section>

            <div class='hr'></div>


        </div>
        <br>
        <div class = "footer">
            <div class = "footer-content">
                <a href="https://web.cs.toronto.edu/">Faculty of Computer Science at UofT</a>
                <br>Site designed by Ayesha, Shruti and Shahzad
            </div>
        </div>

    {% endif %}
{% endblock %}