<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Assignments</title>
        <link rel="stylesheet" href="../static/StyleAssignment.css"/>
    </head>

    
    <div class ="heading">
        <div class="webname"><b>CSCB20</b></div>
        <div class="menu">
            <div class = "home">
                <a href = "index.html"> Home</a>
            </div>
            <div class = "tabs">
                <a href = "calendar.html">Calendar</a>
            </div>
            <div class = "tabs">
                <a href = "Assignments.html">Assignments</a>
            </div>
            <div class = "tabs">
                <a href = "lectures.html">Lectures</a>
            </div>
            <div class = "tabs">
                <a href = "labs.html">Labs</a>
            </div>
            <div class = "tabs">
                <a href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank">Piazza</a>
            </div>
            <div class = "tabs">
                <a href="https://markus.utsc.utoronto.ca/cscb20w22/assignments" target="blank">MarkUs</a> 
            </div>
            <div class = "tabs">
                <a href = "announcements.html">Announcements</a>
            </div>
            <div class = "tabs">
                <a href = "resources.html">Resources</a>
            </div>
            <div class = "tabs">
                <a href = "tests.html">Tests</a>
            </div>
            <div class = "tabs">
                <a href = "feedback.html">Feedback</a>
            </div>
        </div>
    </div>




        <h2 id = "header">Assignments</h2>

        <div class = "assignment-info">
            Throughout the course, there will be three assignments with a total of 35% of your final grade. Please refer to the table below:
        </div>


        <div class = "assignment-table">
            <div class = "h-rows">
                <div class = "t-cells">
                    <h3 id = "assignment-name">Assignments</h3>
                </div>
                <div class = "t-cells">
                    <h3 id = "handout">Handout</h3>
                </div>
                <div class = "t-cells">
                    <h3 id = "weight">Weight</h3>
                </div>
                <div class = "t-cells">
                    <h3 id ="summary">Summary</h3>
                </div>

                <div class = "t-cells">
                    <h3 id ="due-date">Due Date</h3>
                </div>
                <div class = "t-cells">
                    <h3 id ="sample-sol">Sample solution</h3>
                </div>
            </div>

            <div class = "t-rows">
                <div class = "t-cells">Assignment 1</div>
                <div class = "t-cells"><a class = "inside-links" href = "../static/CSCB20 A1-6 (1).pdf" target="blank">Assignment 1</a></div>
                <div class = "t-cells">8%</div>
                <div class = "t-cells">Based on SQL queries and Relational Algebra</div>
                <div class = "t-cells">Feb 17</div>
                <div class = "t-cells"><a class="inside-links" href = "../static/a1 sample solutions.pdf" target="blank">A1 sol</a></div>
            </div>

            <div class = "t-rows">
                <div class = "t-cells">Assignment 2</div>
                <div class = "t-cells"><a class = "inside-links" href = "../static/B20Assignment2 (1).pdf" target="blank">Assignment 2</a></div>
                <div class = "t-cells">10%</div>
                <div class = "t-cells">HTMl, CSS and Python Flask</div>
                <div class = "t-cells">Mar 17</div>
                <div class = "t-cells"><a class = "inside-links" href = "../static/dummysoln.pdf" target="blank">A2 Sol</a></div>
            </div>

            <div class = "t-rows">
                <div class = "t-cells">Assignment 3</div>
                <div class = "t-cells"><a class = "inside-links" href = "../static/dummysoln.pdf" target="blank">Assignment 2</a></div>
                <div class = "t-cells">15%</div>
                <div class = "t-cells"></div>
                <div class = "t-cells">Apr 5</div>
                <div class = "t-cells"><a class = "inside-links" href = "../static/dummysoln.pdf" target="blank">A3 Sol </a></div>
            </div>
        </div>

        <div class = "assignment-info">
            Note: Please know that Assignments due dates are flexible and might be changed during 
            course.
        </div>

        <div class = "footer">
            <div class = "footer-content">
                <a href="https://web.cs.toronto.edu/">Faculty of Computer Science at UofT</a>
                <br>Site designed by Ayesha, Shruti and Shahzad
            </div>
        </div>

        
    </body>
</html>