{% extends "templateStudent.html" %}
{% block content %}
    {% if session.name %}
        <h2 id = "header">Assignments</h2>

        <div class = "assignment-info">
            Throughout the course, there will be three assignments with a total of 35% of your final grade. Please refer to the table below:
        </div>


        <div class = "assignment-table">
            <div class = "h-rows">
                <div class = "t-cells">
                    <h3 id = "assignment-name">Assignments</h3>
                </div>
                <div class = "t-cells">
                    <h3 id = "handout">Handout</h3>
                </div>
                <div class = "t-cells">
                    <h3 id = "weight">Weight</h3>
                </div>
                <div class = "t-cells">
                    <h3 id ="summary">Summary</h3>
                </div>

                <div class = "t-cells">
                    <h3 id ="due-date">Due Date</h3>
                </div>
                <div class = "t-cells">
                    <h3 id ="sample-sol">Sample solution</h3>
                </div>
            </div>

            <div class = "t-rows">
                <div class = "t-cells">Assignment 1</div>
                <div class = "t-cells"><a class = "inside-links" href = "../static/CSCB20 A1-6 (1).pdf" target="blank">Assignment 1</a></div>
                <div class = "t-cells">8%</div>
                <div class = "t-cells">Based on SQL queries and Relational Algebra</div>
                <div class = "t-cells">Feb 17</div>
                <div class = "t-cells"><a class="inside-links" href = "../static/a1 sample solutions.pdf" target="blank">A1 sol</a></div>
            </div>

            <div class = "t-rows">
                <div class = "t-cells">Assignment 2</div>
                <div class = "t-cells"><a class = "inside-links" href = "../static/B20Assignment2 (1).pdf" target="blank">Assignment 2</a></div>
                <div class = "t-cells">10%</div>
                <div class = "t-cells">HTMl, CSS and Python Flask</div>
                <div class = "t-cells">Mar 17</div>
                <div class = "t-cells"><a class = "inside-links" href = "../static/dummysoln.pdf" target="blank">A2 Sol</a></div>
            </div>

            <div class = "t-rows">
                <div class = "t-cells">Assignment 3</div>
                <div class = "t-cells"><a class = "inside-links" href = "../static/dummysoln.pdf" target="blank">Assignment 2</a></div>
                <div class = "t-cells">15%</div>
                <div class = "t-cells"></div>
                <div class = "t-cells">Apr 5</div>
                <div class = "t-cells"><a class = "inside-links" href = "../static/dummysoln.pdf" target="blank">A3 Sol </a></div>
            </div>
        </div>

        <div class = "assignment-info">
            Note: Please know that Assignments due dates are flexible and might be changed during 
            course.
        </div>

        
        <div class="Tests page title"  >
            <h2>CSCB20 Tests</h2>
            <p>Here you will find information and logistics regarding the upcoming tests in CSCB20. Note that as of 11 March 2022, we plan on having all  of our term tests and final exam in person.</p>
            <hr>
        </div>
        
            <h2> Midterm</h2>
    
    
            <a href="../static/MidtermDetails.PNG">
                <img src="../static/MidtermDetails.PNG" class=" float_right">
            </a>
    
        <ul>
            <li>There will be one midterm. The midterm will be 75min in length.</li>
            <li>Date: 13 February, 2022, Monday</li>
            <li>Time: 5pm - 6:15 pm</li>
            <li>Location: <a href= "https://goo.gl/maps/4K1vpcmYtsjVC6zR7" class= "inside-links">HW215 </a> and <a href = "https://goo.gl/maps/4K1vpcmYtsjVC6zR" class="inside-links" > HW216 </a> depending on your last name as shown in the picture</li>
        </ul>
        <ul id="prep_info">
            <br>
           <p id="prep_p"> Preparing for the midterm:</p>
    
            <br>
    
            <li>Understand all parts of A1.</li>
            <li> The midterm will cover everything on databases that we did from the start until part way through the week 6 lecture</li>
            <li>Once you have done some preparation, you can practice on a previous midterm: <a href= "CSCB20_Sample_Lecture.pdf"> Term Test </a></li>
            <li> You can take a look at some of the past exams papers in the <a href = "https://utsc.library.utoronto.ca/old-exams-repository" >UofT Old Exam repository</a> </li>
         </ul>
    
         <p></p>
    
    
        </div>

        <div class = "footer">
            <div class = "footer-content">
                <a href="https://web.cs.toronto.edu/">Faculty of Computer Science at UofT</a>
                <br>Site designed by Ayesha, Shruti and Shahzad
            </div>
        </div>  
        
        
    {% endif %}
{% endblock %}