{% extends "templateStudent.html" %}
{% block content %}
    {% if session.name %}
        <h2 id = "c-header">
           Calendar 
        </h2>
        <div class = "calendar-info">
            Here you can view all the important dates along with associated information. 
        </div>
        
        <div class = "frame-container">
            
            <iframe class ="i-frame" src="https://calendar.google.com/calendar/embed?src=7kjelvs42ce7bkdghr4qau54i8%40group.calendar.google.com&ctz=America%2FToronto"></iframe>
                <!--https://outlook.office365.com/owa/calendar/331d0882de1a4aed8486dee153a88519@mail.utoronto.ca/f4c703bb480444b5aef63bf73bf5a7fb12106260594626318046/calendar.html-->
           
        </div>

        <div class = "footer">
            <div class = "footer-content">
                <a href="https://web.cs.toronto.edu/">Faculty of Computer Science at UofT</a>
                <br>Site designed by Ayesha, Shruti and Shahzad
            </div>
        </div>
    {% endif %}
        
{% endblock %}