<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Calendar</title>
        <link rel="stylesheet" href="../static/StyleCalendar.css"/>
    </head>
    <body>
        <div class ="heading">
            <div class="webname"><b>CSCB20</b></div>
            <div class="menu">
                <div class = "home">
                    <a href = "index.html"> Home</a>
                </div>
                <div class = "tabs">
                    <a href = "calendar.html">Calendar</a>
                </div>
                <div class = "tabs">
                    <a href = "Assignments.html">Assignments</a>
                </div>
                <div class = "tabs">
                    <a href = "lectures.html">Lectures</a>
                </div>
                <div class = "tabs">
                    <a href = "labs.html">Labs</a>
                </div>
                <div class = "tabs">
                    <a href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank">Piazza</a>
                </div>
                <div class = "tabs">
                    <a href="https://markus.utsc.utoronto.ca/cscb20w22/assignments" target="blank">MarkUs</a> 
                </div>
                <div class = "tabs">
                    <a href = "announcements.html">Announcements</a>
                </div>
                <div class = "tabs">
                    <a href = "resources.html">Resources</a>
                </div>
                <div class = "tabs">
                    <a href = "tests.html">Tests</a>
                </div>
                <div class = "tabs">
                    <a href = "feedback.html">Feedback</a>
                </div>
            </div>
        </div>
        
        <h2 id = "c-header">
           Calendar 
        </h2>
        <div class = "calendar-info">
            Here you can view all the important dates along with associated information. 
        </div>
        
        <div class = "frame-container">
            
            <iframe class ="i-frame" src="https://calendar.google.com/calendar/embed?src=7kjelvs42ce7bkdghr4qau54i8%40group.calendar.google.com&ctz=America%2FToronto"></iframe>
                <!--https://outlook.office365.com/owa/calendar/331d0882de1a4aed8486dee153a88519@mail.utoronto.ca/f4c703bb480444b5aef63bf73bf5a7fb12106260594626318046/calendar.html-->
           
        </div>

        <div class = "footer">
            <div class = "footer-content">
                <a href="https://web.cs.toronto.edu/">Faculty of Computer Science at UofT</a>
                <br>Site designed by Ayesha, Shruti and Shahzad
            </div>
        </div>

        
    </body>
</html>