<!DOCTYPE html>
<html>
    <head>
        <meta charset ="utf-8">
        <meta name="viewport" content = "width=device-width, initial-scale=1">
        <title>Labs</title>
        <link rel="stylesheet" href="../static/styleFeedback.css"/>
    </head>

    <body>

        <div class ="heading">
            <div class="webname"><b>CSCB20</b></div>
            <div class="menu">
                <div class = "home">
                    <a href = "index.html"> Home</a>
                </div>
                <div class = "tabs">
                    <a href = "calendar.html">Calendar</a>
                </div>
                <div class = "tabs">
                    <a href = "Assignments.html">Assignments</a>
                </div>
                <div class = "tabs">
                    <a href = "lectures.html">Lectures</a>
                </div>
                <div class = "tabs">
                    <a href = "labs.html">Labs</a>
                </div>
                <div class = "tabs">
                    <a href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank">Piazza</a>
                </div>
                <div class = "tabs">
                    <a href="https://markus.utsc.utoronto.ca/cscb20w22/assignments" target="blank">MarkUs</a> 
                </div>
                <div class = "tabs">
                    <a href = "announcements.html">Announcements</a>
                </div>
                <div class = "tabs">
                    <a href = "resources.html">Resources</a>
                </div>
                <div class = "tabs">
                    <a href = "tests.html">Tests</a>
                </div>
                <div class = "tabs">
                    <a href = "feedback.html">Feedback</a>
                </div>
            </div>
        </div>

        <div class = "feedback_form"> 

            <h4>If you have any feedback for this course, please feel free to write it here anonymously!<br></h4>
            <form action="index.html" method="post">
                <label for="feedback">Feedback:</label>
                <textarea id="feedback" name="anonymous feedback"></textarea>
                <br>
                <br>
            </form>



            <a class="button" href="feedback.html">Submit</a>
            <br>
            <br>
        </div>

        <div class = "footer">
            <div class = "footer-content">
                <a href="https://web.cs.toronto.edu/">Faculty of Computer Science at UofT</a>
                <br>Site designed by Ayesha, Shruti and Shahzad
            </div>
        </div> 
   
    </body>

</html>