{% extends "templateStudent.html" %}
    {% block content %}
    {% if session.name %}
        {% with messages = get_flashed_messages(with_categories = True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div id = "error-msg">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <div class = "feedback_form"> 

            <h4>If you have any feedback for this course, please feel free to write it here anonymously!<br></h4>
            <form action="http://127.0.0.1:5000/feedback" method="post">
                
                <label for="Username">Username</label>
                <input type="text" id="Username" name="Username">

                <label for="Feedback">Feedback:</label>
                <input type="text" id="Feedback" name="Feedback"></input>
                <br>
                <br>
                <button type="Submit">Submit</button>
            </form>
        {% endif %}
    {% endblock %}

