{% extends "templateStudent.html" %}
{% block content %}
    {% if session.name and session.role=='instructor' %}
        
        <br>
        <h2 id = "header">Student Grades</h2>
        <br>
        <br>
        {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            <ul class = flashes>
            {% for category, message in messages %}
                <li class = "{{ category }}"><strong>Error: </strong>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <div class = "grades-table">
            <div class = "h-rows">
                <div class = "t-cells">
                    <h3 id = "id">id</h3>
                </div>

                <div class = "t-cells">
                    <h3 id = "A1">A1</h3>
                </div>
                <div class = "t-cells">
                    <h3 id = "A2">A2</h3>
                </div>
                <div class = "t-cells">
                    <h3 id ="A3">A3</h3>
                </div>

                <div class = "t-cells">
                    <h3 id ="Midterm">Midterm</h3>
                </div>
                <div class = "t-cells">
                    <h3 id ="Tut">Tut</h3>
                </div>
                <div class = "t-cells">
                    <h3 id ="Final">final</h3>
                </div>
                <div class = "t-cells">
                    <h3 id ="Overall">overall</h3>
                </div>

            </div>

            {% for grades in query_grades_result %}
            
            <div class = "t-rows">
                <div class = "t-cells">{{ grades.id }} </div>
                <div class = "t-cells">{{ grades.A1 }} </div>
                <div class = "t-cells"> {{ grades.A2 }}</div>
                <div class = "t-cells">{{ grades.A3 }} </div>
                <div class = "t-cells"> {{ grades.Midterm }}</div>
                <div class = "t-cells"> {{ grades.Tut }}</div>
                <div class = "t-cells"> {{ grades.final }}</div>
                <div class = "t-cells"> {{ grades.overall }}</div>
            </div>
            {% endfor %}

        </div>

        <br>
        {% endwith %}

        <p><a href = "addGrades">Add/Update Student Grades Here </a></p>

        <p><a href = "RemarkRequest">See Remark Requests</a></p>


        <div class = "footer">
            <div class = "footer-content">
                <a href="https://web.cs.toronto.edu/">Faculty of Computer Science at UofT</a>
                <br>Site designed by Ayesha, Shruti and Shahzad
            </div>
        </div>
        {% endif %}
    {% endblock %}




