
{% extends "template.html" %}
{% block content %}

         <div class = "cont">
            <img id="img-tag" src="../static/background.jpg"> 
            <h1 id ="web-title">CSCB20 - Introduction to Databases and Web Applications</h1>
            <h4 id ="web-info">- If you have an account please login, otherwise you can register -</h4>
         </div>   
         
        
        
        

        <br>
        <h3 id="overview_header">Overview</h3>
        <p class="overview">
            A practical introduction to databases and Web app development. 
            Databases: terminology and applications; creating, querying and updating databases; the entity-relationship model for database design. Web documents and applications: static and interactive documents; Web servers and dynamic server-generated content; Web application development and interface with databases.
            <br>
            <br>
            - Prerequisites: Some experience with programming in an imperative language such as Python, Java, or C. You 
            may not take this course after - or concurrently with - any C- or D-level CSC course.
            <br>
            <br>
            - Exclusions: CSC343H
            <br>
        </p>



        
        <div class = "footer">
            <div class = "footer-content">
                <a href="https://web.cs.toronto.edu/">Faculty of Computer Science at UofT</a>
                <br>Site designed by Ayesha, Shruti and Shahzad
            </div>
        </div>

{% endblock %}