<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>CSCB20</title>
        <link rel="stylesheet" href="../static/home.css"/>
        
    </head>

    <body>

        
        
        <div class ="heading">
            <div class="webname"><b>CSCB20</b></div>
            <div class="menu">
                <div class = "loginRegister">
                    <a href = "login">Login</a>
                </div>
                <div class = "loginRegister">
                    <a href = "register">Register</a>
                </div>
            </div>
        </div>

        
         <div class = "cont">
            <img id="img-tag" src="../static/background.jpg"> 
            <h1 id ="web-title">CSCB20 - Introduction to Databases and Web Applications</h1>
            <div class = "buttons">
                <button type="button" id = "login">Login</button>
                <button type="button" id = "register">Register</button>
            </div>

         </div>   
         
        
        
        

        <br>
        <h3 id="overview_header">Overview</h3>
        <p class="overview">
            A practical introduction to databases and Web app development. 
            Databases: terminology and applications; creating, querying and updating databases; the entity-relationship model for database design. Web documents and applications: static and interactive documents; Web servers and dynamic server-generated content; Web application development and interface with databases.
            <br>
            <br>
            - Prerequisites: Some experience with programming in an imperative language such as Python, Java, or C. You 
            may not take this course after - or concurrently with - any C- or D-level CSC course.
            <br>
            <br>
            - Exclusions: CSC343H
            <br>
            - Course Syllabus: <a class ="inside-links" href = "../static/CSCB20 Winter 2022 Syllabus.pdf" target="_blank"> syllabus</a>
        </p>



        
        <div class = "footer">
            <div class = "footer-content">
                <a href="https://web.cs.toronto.edu/">Faculty of Computer Science at UofT</a>
                <br>Site designed by Ayesha, Shruti and Shahzad
            </div>
        </div>


        

    </body>
</html>