<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>CSCB20</title>
        <link rel="stylesheet" href="../static/style.css"/>
        
    </head>

    <body>

        
        
        <div class ="heading">
            <div class="webname"><b>CSCB20</b></div>
            <div class="menu">
                <div class = "home">
                    <a href = "index.html"> Home</a>
                </div>
                <div class = "tabs">
                    <a href = "calendar.html">Calendar</a>
                </div>
                <div class = "tabs">
                    <a href = "Assignments.html">Assignments</a>
                </div>
                <div class = "tabs">
                    <a href = "lectures.html">Lectures</a>
                </div>
                <div class = "tabs">
                    <a href = "labs.html">Labs</a>
                </div>
                <div class = "tabs">
                    <a href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank">Piazza</a>
                </div>
                <div class = "tabs">
                    <a href="https://markus.utsc.utoronto.ca/cscb20w22/assignments" target="blank">MarkUs</a> 
                </div>
                <div class = "tabs">
                    <a href = "announcements.html">Announcements</a>
                </div>
                <div class = "tabs">
                    <a href = "resources.html">Resources</a>
                </div>
                <div class = "tabs">
                    <a href = "tests.html">Tests</a>
                </div>
                <div class = "tabs">
                    <a href = "feedback.html">Feedback</a>
                </div>
            </div>
        </div>

        
            
        <img id="img-tag" src="../static/background.jpg">  
        
        
        <h1 id = "web-title">CSCB20 - Introduction to Databases and Web Applications</h1>

        <br>
        <h3 id="overview_header">Overview</h3>
        <p class="overview">
            A practical introduction to databases and Web app development. 
            Databases: terminology and applications; creating, querying and updating databases; the entity-relationship model for database design. Web documents and applications: static and interactive documents; Web servers and dynamic server-generated content; Web application development and interface with databases.
            <br>
            <br>
            - Prerequisites: Some experience with programming in an imperative language such as Python, Java, or C. You 
            may not take this course after - or concurrently with - any C- or D-level CSC course.
            <br>
            <br>
            - Exclusions: CSC343H
            <br>
            - Course Syllabus: <a class ="inside-links" href = "../static/CSCB20 Winter 2022 Syllabus.pdf" target="_blank"> syllabus</a>
        </p>

        
        <h3 id = "instructor_header">Course Administration</h3>
        <img id = "instructor-image" src='../static/Purva Gawde_photo.jpg'/>
        <p class="instructor">
            
            Instructor:  Dr. Purva R. Gawde
            <br>
            e-mail: <a class="inside-links" href="mailto:email@example.com">purva.gawde@utoronto.ca</a>
            <br>
            Piazza: <a class ="inside-links" href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank">Piazza</a>
            <br> 
            Lecture: Monday, 9-11 AM,  HL B101
            <br>
            Office Hours: Tuesday, 10-11 AM, IC 484
        </p>

        <h3 id = "course_team">Course Team</h3>

        <div class = "course-table">
            <div class = "h-rows">
                
                    <div class = "t-cells">
                        <h3 id = "ta-name">Name</h3>
                    </div>
                    <div class = "t-cells">
                        <h3 id = "ta-email">e-mail</h3>
                    </div>
                
            </div>

            <div class = "t-rows">
                <div class = "t-cells">Purva Gawde (Instructor)</div>
                <div class = "t-cells"><a class="inside-links" href="mailto:email@example.com">purva.gawde@utoronto.ca</a></div>
            </div>

            <div class = "t-rows">
                <div class = "t-cells">Daniel Zee (TA)</div>
                <div class = "t-cells"><a class="inside-links" href="mailto:email@example.com">daniel.zee@utoronto.ca</a></div>
            </div>
            <div class = "t-rows">
                <div class = "t-cells">Vidya Ananda (TA)</div>
                <div class = "t-cells"><a class = "inside-links" href="mailto:email@example.com">vidya.ananda@utoronto.ca</a></div>
            </div>
            <div class = "t-rows">
                <div class = "t-cells">Rick Lan (TA)</div>
                <div class = "t-cells"><a class="inside-links" href="mailto:email@example.com">rick.lan@utoronto.ca</a></div>
            </div>
        </div>

        <h3 id = "course_team">Course Work</h3>
        <ul class = "course-work">
            Throughout the course, there will be three assignments, one mid-term and final exam. 
            For course evaluations for each of the course work, will be as followed: <br>
            <br>
            <li>Assignments: Total of 33% of your final grade</li>
             - Assignment 1: 8% <br>
             - Assignment 2: 10% <br>
             - Assignment 3: 15%
            <li>Midterm Exam: 25%</li>
            <li>Tutorial  attendance: 2%</li>
            <li>Final Exam: 40%</li>
            
        </ul>


        
        <div class = "footer">
            <div class = "footer-content">
                <a href="https://web.cs.toronto.edu/">Faculty of Computer Science at UofT</a>
                <br>Site designed by Ayesha, Shruti and Shahzad
            </div>
        </div>


        

    </body>
</html>