{% extends "templateStudent.html" %}
{% block content %}
        <br>
        <h2 id = "header">Students Feedback</h2>
        <br>
        <br>

        <div class = "feedback-table">
            <div class = "h-rows">
                

                <div class = "t-cells">
                    <h3 id = "feedback">Feedback</h3>
                </div>

            </div>

            {% for feedback in query_inst_feedback_result %}
            
            <div class = "t-rows">
                
                <div class = "t-cells"><li>{{ feedback.feedback }} </li></div>
                
            </div>
            {% endfor %}

        </div>

        <br>

        <div class = "footer">
            <div class = "footer-content">
                <a href="https://web.cs.toronto.edu/">Faculty of Computer Science at UofT</a>
                <br>Site designed by Ayesha, Shruti and Shahzad
            </div>
        </div>
    {% endblock %}
    