{% extends "templateStudent.html" %}
{% block content %}

    {% if session.name %}
        <h2>Labs</h2>

        <div id="lab-table">
            <div id="lab-table-body">
                <div class="lab-table-header-row"> 
                    <div class="table-body-cell">
                        Week
                    </div>
                    <div class="table-body-cell">
                        Labs
                    </div>
                    <div class="table-body-cell">
                        Solutions
                    </div>
                </div>
                <div class="lab-table-row"> 
                    <div class="table-body-cell">
                        1
                    </div>
                    <div class="table-body-cell">
                        <a class="inside-links" href = "../static/dummylab.pdf" target="_blank">Handout</a>
                    </div>
                    <div class="table-body-cell">
                        <a class="inside-links" href = "../static/dummysoln.pdf" target="_blank">Solns</a>
                    </div>
                </div>
                <div class="lab-table-row"> 
                    <div class="table-body-cell">
                        2
                    </div>
                    <div class="table-body-cell">
                        <a class="inside-links" href = "../static/dummylab.pdf" target="_blank">Handout</a>
                    </div>
                    <div class="table-body-cell">
                        <a class="inside-links" href = "../static/dummysoln.pdf" target="_blank">Solns</a>
                    </div>
                </div>
                <div class="lab-table-row"> 
                    <div class="table-body-cell">
                        3
                    </div>
                    <div class="table-body-cell">
                        <a class="inside-links" href = "../static/dummylab.pdf" target="_blank">Handout</a>
                    </div>
                    <div class="table-body-cell">
                        <a class="inside-links" href = "../static/dummysoln.pdf" target="_blank">Solns</a>
                    </div>
                </div>
                <div class="lab-table-row"> 
                    <div class="table-body-cell">
                        4
                    </div>
                    <div class="table-body-cell">
                        <a class="inside-links" href = "../static/dummylab.pdf" target="_blank">Handout</a>
                    </div>
                    <div class="table-body-cell">
                        <a  class="inside-links" href = "../static/dummysoln.pdf" target="_blank">Solns</a>
                        
                    </div>
                </div>
                <div class="lab-table-row"> 
                    <div class="table-body-cell">
                        5
                    </div>
                    <div class="table-body-cell">
                        <a class="inside-links" href = "../static/dummylab.pdf" target="_blank">Handout</a>
                    </div>
                    <div class="table-body-cell">
                        <a class="inside-links" href = "../static/dummysoln.pdf" target="_blank">Solns</a> 
                    </div>
                </div>
                <div class="lab-table-row"> 
                    <div class="table-body-cell">
                        6
                    </div>
                    <div class="table-body-cell">
                        <a class="inside-links" href = "files/dummylab.pdf" target="_blank">Handout</a>
                    </div>
                    <div class="table-body-cell">
                        <a class="inside-links" href = "files/dummysoln.pdf" target="_blank">Solns</a>
                    </div>
                </div>
                <div class="lab-table-row"> 
                    <div class="table-body-cell">
                        7
                    </div>
                    <div class="table-body-cell">
                        <a class="inside-links" href = "../static/dummylab.pdf" target="_blank">Handout</a>
                    </div>
                    <div class="table-body-cell">
                        <a class="inside-links" href = "../static/dummysoln.pdf" target="_blank">Solns</a>
                    </div>
                </div>
                <div class="lab-table-row"> 
                    <div class="table-body-cell">
                        8
                    </div>
                    <div class="table-body-cell">
                        <a class="inside-links" href = "../static/dummylab.pdf" target="_blank">Handout</a>
                    </div>
                    <div class="table-body-cell">
                        <a class="inside-links" href = "../static/dummysoln.pdf" target="_blank">Solns</a>
                    </div>
                </div>
                <div class="lab-table-row"> 
                    <div class="table-body-cell">
                        9
                    </div>
                    <div class="table-body-cell">
                        <a class="inside-links" href = "../static/dummylab.pdf" target="_blank">Handout</a>
                    </div>
                    <div class="table-body-cell">
                        <a class="inside-links" href = "../static/dummysoln.pdf" target="_blank">Solns</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class = "footer">
            <div class = "footer-content">
                <a href="https://web.cs.toronto.edu/">Faculty of Computer Science at UofT</a>
                <br>Site designed by Ayesha, Shruti and Shahzad
            </div>
        </div>
    {% endif %}

{% endblock %}