<!DOCTYPE html>
<html>

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel=" stylesheet" href = "../static/lectures.css">
    <title>CSCB20 - Introduction to Databases and Web Applications</title>

</head>

<body>
    <div class ="heading">
        <div class="webname"><b>CSCB20</b></div>
        <div class="menu">
            <div class = "home">
                <a href = "index.html"> Home</a>
            </div>
            <div class = "tabs">
                <a href = "calendar.html">Calendar</a>
            </div>
            <div class = "tabs">
                <a href = "Assignments.html">Assignments</a>
            </div>
            <div class = "tabs">
               <a href = "lectures.html"> Lectures</a>
            </div>
            <div class = "tabs">
                <a href = "labs.html">Labs</a>
            </div>
            <div class = "tabs">
                <a href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank">Piazza</a>
            </div>
            <div class = "tabs">
                <a href="https://markus.utsc.utoronto.ca/cscb20w22/assignments" target="blank">MarkUs</a> 
            </div>
            <div class = "tabs">
                <a href= "announcements.html">Announcements </a>
            </div>
            <div class = "tabs">
                <a href = "resources.html">Resources</a>
            </div>
            <div class = "tabs">
               <a href = "tests.html">Tests </a>
            </div>
            <div class = "tabs">
                <a href = "feedback.html">Feedback</a>
            </div>
        </div>
    </div>

    
         
    <h2>Lecture Schedule</h2>

    <p>Note that this is a tentative schedule and is subject to changes by the professor. Please print and bring these notes/worksheets to class. </p>
    
    <div class='hr'></div>

   

    <div class = "Lecture_Table">
        <div class = "Lecture_Table-Tr header">
            <div class="Lecture_Table-Td weeknum">Week</div>
            <div class="Lecture_Table-Td" >Topic</div>
            <div class="Lecture_Table-Td" >Readings</div>
            <div class="Lecture_Table-Td" >Lecture Material</div>
            <div class="Lecture_Table-Td" >In Class</div>
        </div>

        <div class="Lecture_Table-Tr">
            <div class = "Lecture_Table-Td weeknum " >1</div>
            <div class = "Lecture_Table-Td"> Introduction, Databases and Background</div>
            <div class = "Lecture_Table-Td"></div>
            <div class = "Lecture_Table-Td"> <a href = "../static/CSCB20_Sample_Lecture.pdf", target = "_blank" class = "inside-links">Week 1 Lecture handout</a> </div>
            <div class = "Lecture_Table-Td"></div>
           
        </div>

        <div class="Lecture_Table-Tr">
            <div class = "Lecture_Table-Td weeknum" >2</div>
            <div class = "Lecture_Table-Td">Relational Algebra</div>
            <div class = "Lecture_Table-Td"></div>
            <div class = "Lecture_Table-Td"><a href = "../static/CSCB20_Sample_Lecture.pdf", target = "_blank" class = "inside-links">Week 2 Lecture handout</a> </div>
            <div class = "Lecture_Table-Td"></div>
           
        </div>

        <div class="Lecture_Table-Tr">
            <div class = "Lecture_Table-Td weeknum" >3</div>
            <div class = "Lecture_Table-Td">Schema Diagrams and Relational Algebra</div>
            <div class = "Lecture_Table-Td"></div>
            <div class = "Lecture_Table-Td"><a href = "../static/CSCB20_Sample_Lecture.pdf", target = "_blank" class = "inside-links">Week 3 Lecture handout</a> </div>
            <div class = "Lecture_Table-Td"></div>
           
        </div>
        <div class="Lecture_Table-Tr">
            <div class = "Lecture_Table-Td weeknum ">4</div>
            <div class = "Lecture_Table-Td">SQL and MySQL</div>
            <div class = "Lecture_Table-Td">        </div>
            <div class = "Lecture_Table-Td"><a href = "../static/CSCB20_Sample_Lecture.pdf", target = "_blank" class = "inside-links">Week 4 Lecture handout</a> </div>
            <div class = "Lecture_Table-Td"><a href = "../static/CSCB20_Sample_Lecture.pdf", target = "_blank" class = "inside-links">InClass MySQL</a> </div>
           
        </div>

        <div class="Lecture_Table-Tr">
            <div class = "Lecture_Table-Td weeknum ">5</div>
            <div class = "Lecture_Table-Td">MySQL Queries, Creating and Editing Tables</div>
            <div class = "Lecture_Table-Td">        </div>
            <div class = "Lecture_Table-Td"><a href = "../static/CSCB20_Sample_Lecture.pdf", target = "_blank" class = "inside-links">Week 5 Lecture handout</a> </div>
            <div class = "Lecture_Table-Td"><a href = "../static/CSCB20_Sample_Lecture.pdf", target = "_blank" class = "inside-links">InClass MySQL</a></div>
           
        </div>

        <div class="Lecture_Table-Tr">
            <div class = "Lecture_Table-Td weeknum ">6</div>
            <div class = "Lecture_Table-Td"> MySQL Outer Joins, Views, NULL, string functions, HTML </div>
            <div class = "Lecture_Table-Td"> </div>
            <div class = "Lecture_Table-Td"><a href = "../static/CSCB20_Sample_Lecture.pdf", target = "_blank" class = "inside-links">Week 6 Lecture handout</a> </div>
            <div class = "Lecture_Table-Td">  </div>
           
        </div>

        <div class="Lecture_Table-Tr">
            <div class = "Lecture_Table-Td weeknum">7</div>
            <div class = "Lecture_Table-Td">HTML, CSS</div>
            <div class = "Lecture_Table-Td"></div>
            <div class = "Lecture_Table-Td"><a href = "../static/CSCB20_Sample_Lecture.pdf", target = "_blank" class = "inside-links">Week 7 Lecture handout</a> </div>
            <div class = "Lecture_Table-Td"></div>
           
        </div>

        <div class="Lecture_Table-Tr">
            <div class = "Lecture_Table-Td weeknum">8</div>
            <div class = "Lecture_Table-Td">PHP</div>
            <div class = "Lecture_Table-Td"></div>
            <div class = "Lecture_Table-Td"><a href = "../static/CSCB20_Sample_Lecture.pdf", target = "_blank" class = "inside-links">Week 8 Lecture handout</a> </div>
            <div class = "Lecture_Table-Td"></div>
           
        </div>

        <div class="Lecture_Table-Tr">
            <div class = "Lecture_Table-Td weeknum">9</div>
            <div class = "Lecture_Table-Td">PHP and SQL</div>
            <div class = "Lecture_Table-Td"></div>
            <div class = "Lecture_Table-Td"><a href = "../static/CSCB20_Sample_Lecture.pdf", target = "_blank" class = "inside-links">Week 9 Lecture handout</a> </div>
            <div class = "Lecture_Table-Td">Empty starter file: <a href = "../static/CSCB20_Sample_Lecture.pdf", target = "_blank" class = "inside-links"> query.php </a> To look at the txt for this file, download this <a href = "CSCB20_Sample_Lecture.pdf", target = "_blank">php_query.txt </a></div>

           
        </div>

        <div class="Lecture_Table-Tr">
            <div class = "Lecture_Table-Td weeknum">10</div>
            <div class = "Lecture_Table-Td"> Javascript and jQuery</div>
            <div class = "Lecture_Table-Td"></div>
            <div class = "Lecture_Table-Td"><a href = "../static/CSCB20_Sample_Lecture.pdf", target = "_blank" class = "inside-links">Week 10 Lecture handout</a> </div>
            <div class = "Lecture_Table-Td"></div>
           
        </div>

        <div class="Lecture_Table-Tr">
            <div class = "Lecture_Table-Td weeknum" >11</div>
            <div class = "Lecture_Table-Td" >jQuery, AJAX, JSON</div>
            <div class = "Lecture_Table-Td"></div>
            <div class = "Lecture_Table-Td" ><a href = "../static/CSCB20_Sample_Lecture.pdf", target = "_blank" class = "inside-links">Week 11 Lecture handout</a> </div>
            <div class = "Lecture_Table-Td"></div>
           
        </div>

        <div class="Lecture_Table-Tr">
            <div class = "Lecture_Table-Td weeknum">12</div>
            <div class = "Lecture_Table-Td"> Last year's final</div>
            <div class = "Lecture_Table-Td"></div>
            <div class = "Lecture_Table-Td"><a href = "../static/CSCB20_Sample_Lecture.pdf", target = "_blank" class = "inside-links"> W16 Final </a> Note that some questions have code missing because portions resemble your A3</div>
            <div class = "Lecture_Table-Td"></div>
           
        </div>


    </div>



    <div class = "footer">
        <div class = "footer-content">
            <a href="https://web.cs.toronto.edu/">Faculty of Computer Science at UofT</a>
            <br>Site designed by Ayesha, Shruti and Shahzad
        </div>
    </div>

   
</body>
</html>
