{% extends "template.html" %}
{% block content %}
    <form action="http://127.0.0.1:5000/login" method = "post">
       
        {% with messages = get_flashed_messages(with_categories = True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div id = "error-msg">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <label for="username">Username</label>
        <input type="text" id="Username" name="Username">
        <label for="Password">Password</label>
        <input type= "password" id="myInput" name ="Password"></input>

        <input type="checkbox" onclick="myFunction()">Show Password
    
        <button type="Login">Login</button>
    </form>

    <div class = "footer">
        <div class = "footer-content">
            <a href="https://web.cs.toronto.edu/">Faculty of Computer Science at UofT</a>
            <br>Site designed by Ayesha, Shruti and Shahzad
        </div>
    </div>
{% endblock %}


