{% extends "template.html" %}
{% block content %}
    
    <form action="http://127.0.0.1:5000/register" method = "post">
        {% with messages = get_flashed_messages(with_categories = True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div id = "error-msg">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <label for="type">Register as a/an:</label>

        <select type = "text" name="Option" id="Option">
        <option type = "text" value="student">Student</option>
        <option type = "text" value="instructor">Instructor</option>
        </select>

        <label for="Firstname">First Name</label>
        <input type="text" id="Firstname" name="Firstname">
        <label for="Lastname">Last Name</label>
        <input type="text" id="Lastname" name="Lastname">
        <label for="Username">Username</label>
        <input type="text" id="Username" name="Username">

        <label for="mail"> Email </label>
        <input type="text" id="Email" name="Email">

        <label for="Password">Password</label>
        <textarea id="text" name="Password"></textarea>

        <button type="register">Register</button>
        
    </form>

    <div class = "footer">
        <div class = "footer-content">
            <a href="https://web.cs.toronto.edu/">Faculty of Computer Science at UofT</a>
            <br>Site designed by Ayesha, Shruti and Shahzad
        </div>
    </div>

{% endblock %}

