<head>
    <meta charset="utf-8">
   <title>Enter Student Grades</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='template.css') }}">
</head>


{% block content %}
    <h1>
        Student Grade was updated successfully!
    </h1>

    <button type = "returnToRegrades"><a class="buttons" href = "{{ url_for('RemarkRequest') }}">Return to Student Regrade Requests</a></button>
    <button type = "returnToGrades"><a class="buttons" href = "{{ url_for('grades') }}"> Return to Student Grades </a></button>

{% endblock %}