{% extends "templateStudent.html" %}
{% block content %}
        <form action="http://127.0.0.1:5000/RemarkAction" method = "post">
            <label for="StudentID">StudentID</label>
            <input type="number" id="StudentID" name="StudentID">
  
            <label for="Assessment"> Assessment </label>
            <select type = "text" name="Assessment" id = "Assessment" >
                <option type = "text" value = "A1">A1</option>
                <option type = "text" value = "A2">A2</option>
                <option type = "text" value = "Midterm">Midterm</option>
                <option type = "text" value = "Tut">Tut</option>
                <option type = "text" value = "A3">A3</option>
                <option type = "text" value = "final">final</option>
                <option type = "text" value = "overall">overall</option>

            </select>
            <!---input type="text" id="Assessment" name="Assessment"--->


            <label for="UpdatedMark"> Updated Mark</label>
            <input type="number" id="UpdatedMark" name="UpdatedMark">

            <label for="status"> status </label>
            <select type = "text" name="status" id = "status" >
                <option type = "text" value = "Open">Open</option>
                <option type = "text" value = "Closed">Closed</option>
                
            </select>

  
            <button type="submit">Submit</button>
        </form>
{% endblock %}