{% extends "templateStudent.html" %}
{% block content %}
    {% if session.name %}
        <h1 id="resources_header">Resources</h1>

        <h3 id="online_resources_header">Online Resources</h3>

        <h4 id="course_website_link">
            Course Website:
            <a class="inside-links" href="index.html" target="_blank">Home</a>
        </h4>

        <p class = "course_website_info">
            - Course information, lecture notes, tutorial material, important announcements, etc. 
            will be posted on the course website. It is your responsibility to visit it frequently.
        </p>

        <h4 id="MySQL_link">
            Beginner tutorial for MySQL:
            <a class="inside-links" href="https://code.tutsplus.com/articles/sql-for-beginners--net-8200" target="_blank">MySQL-Tutorial</a>
        </h4>
        <h4 id="prof_email">
            Professor Email: 
            <a class="inside-links" href="mailto:purva.gawde@utoronto.ca" target="_blank">purva.gawde@utoronto.ca</a>
            <br>
            <br>
            Course Team:
            <a class="inside-links" id = course_team href="index.html#course_team" target="_blank">Course Team</a>
        </h4>
        <h4 id="piazza" >
            Discussion board: 
            <a class="inside-links" href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank">Piazza</a>
        </h4>
        <p class = piazza_info>
            - Questions regarding the course material, assignments, midterm, etc. should be posted on the bulletin board. 
            Questions about the assignment which you feel you cannot formulate without revealing your solution (should be very rare!), 
            as well as questions and concerns regarding your personal matters should be directed to the instructor.
            <br>
            <br>
            - You are encouraged to use the bulletin board to discuss the course material, pose questions on the assignments, etc. 
            The bulletin board will be monitored by the instructor and by your TAs. 
            Please, be very careful not to reveal (parts of) your solution on the bulletin board.
            <br>

        </p>

        <h3 id="software_header">
            Software and Documentation
        </h3>

        <h4 id="mathlab_header">
            Logging into MathLab:
        </h4>

        <p class="software_info">
            - Mac OS comes with the application "terminal". Simple click on it to run. Login to mathlab by typing:
            <br> <i>ssh utorid@mathlab.utsc.utoronto.ca.</i> Enter your password.
            <br>
            <br>  
            - Windows - you will need a SSH client. PuTTY is a good free one. You can download and install here: 
            <a class="inside-links" href="https://www.putty.org/" target="_blank">Putty</a> 
            <br> Use the same command as above to login to mathlab:
            <br> <i>ssh utorid@mathlab.utsc.utoronto.ca.</i>
        </p>

        <div class = "footer">
            <div class = "footer-content">
                <a href="https://web.cs.toronto.edu/">Faculty of Computer Science at UofT</a>
                <br>Site designed by Ayesha, Shruti and Shahzad
            </div>
        </div>

    {% endif %}

 {% endblock %}