<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>CSCB20</title>
        <link rel="stylesheet" href="../static/style.css"/>
        
    </head>

    <body>
        {% if session.name %}
        <div class ="heading">
            <div class="webname"><a href = "account"><b>{{session.name}}</b></a></div>
            
            <div class="menu">
                <div class = "home">
                    <a href = "index"> Home</a>
                </div>
                {% if session.role == "student" %}
                    <div class = "tabs">
                        <a href = "calendar.html">Grades and Remark</a>
                    </div>
                {% else %}
                    <div class = "tabs">
                        <a href = "calendar.html">View Grades</a>
                    </div>
                    <div class = "tabs">
                        <a href = "calendar.html">Remark</a>
                    </div>
                {% endif %} 
                <div class = "tabs">
                    <a href = "calendar">Calendar</a>
                </div>
                <div class = "tabs">
                    <a href = "Assignments">Assessments</a>
                </div>
                <div class = "tabs">
                    <a href = "lectures">Lectures</a>
                </div>
                <div class = "tabs">
                    <a href = "labs">Labs</a>
                </div>
                <div class = "tabs">
                    <a href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank">Piazza</a>
                </div>
                <div class = "tabs">
                    <a href="https://markus.utsc.utoronto.ca/cscb20w22/assignments" target="blank">MarkUs</a> 
                </div>
                <div class = "tabs">
                    <a href = "announcements">Announcements</a>
                </div>
                <div class = "tabs">
                    <a href = "resources">Resources</a>
                </div>
                <div class = "tabs">
                    <a href = "feedback">Feedback</a>
                </div>
                <div class = "tabs">
                    <a href = "logout">Logout</a>
                </div>
                
            </div>
            
            
        </div>
        {% else %}
        <div class ="heading">
            <div class="webname"><a href = "home"><b>CSCB20</b></a></div>
                <div class='menu1'>
                  <div class='links'>
                    <div class='login'><a href = "login"> Login</a></div>
                    <div class='reg'><a href = "register">Register</a></div>
                  </div>
                </div> 
        </div>
        <h2>Your session has ended or you have logged out</h2>
        {% endif %} 
        

        {% block content %}
        {% endblock %}

    </body>

</html>